%color-light-black {
	color: lighten($black, 20%) !important;
}

%border-gray {
	border: 1px solid $gray;
}

%text-center {
	text-align: center;
}

%overflow {
	overflow: auto;
}

%text_uppercase {
	font-weight: normal !important;
	text-transform: uppercase;
}