/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}

#menu-toggle-btn {
  display: none;
}

#logo {
  padding: .4em 0em;
  a {
    margin-left: 0;
    width: 330px;
    background-size: cover;
    background-position-y: initial;
  }

}

.main-menu {
  display: block;
}
// Small Thumb post
.small-thumb {
  .post {
    @extend %overflow;

  }
  .entry-left {
    width: 35%;
  }
  .entry-right {
    width: 65%;
  }
  .entry-content {
    font-size: 0.8em;
    p {
      margin: 0.2em 0;
    }
  }
  .entry-footer {
    .byline {
      text-align: right;
    }
  }
}
// Menu
.main-menu {

}

// Global post
.entry-meta {
  @extend %overflow;
  margin: 0.3em 0;
}
.byline-left {
  @extend .left;
  width: 50%
}
.byline-right {
  @extend .right;
  width: 50%;
}
.entry-additional {
  @extend %overflow;

}

.sidebar {
  display: block;
  margin-top: -12em;
}


// Slide
.supercrsl {
  display: none;
}