/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

//Main Menu
.main-menu {

}

.single-title,
.page-title,
.entry-title,
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: 'Itim', cursive;
}
/**********************
** SINGLE CSS ********/

// Related Posts
.related-posts {
    .post {
      border: 1px solid #eaedf2;
      .entry-title {
        font-size: 1.3em;
        margin-bottom: 0.3em;
        display: block;
      }
      .right {
        margin-top: -5px;
        padding: 1.3em 1em;
      }
      .entry-content {
        display: block;
        font-size: 80%;
        padding: 0;
        .excerpt-read-more {display: none}
      }

      img {
      }
    }
}
// Sidebar
.sidebar {
  margin-top: -12.8em;
}

