/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $sans-serif;
	font-size: 15px;
	line-height: 1.35;
	@extend %color-light-black;
	background: $light-gray url(../images/noise.png);
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
ol {
	list-style-type: decimal;
}
// Misc
.left {
	float: left;
}
.right {
	float: right;
}
.text_center {
	text-align: center;
}
.fill {
	display:flex;
	justify-content:center;
	align-items:center;
	overflow:hidden
}
.fill img {
	flex-shrink:0;
	min-width:100%;
	min-height:100%
}
img {
	max-width: 100%;
	height: auto;
}
// IPhorm

.iphorm-outer {
	margin-left: 0 !important;
	border: 2px dashed rgb(49, 133, 211);
	background: rgb(218, 243, 255);
	padding: 2em;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: 90%;
	margin-bottom: 1.35em;
	input[type="text"] {
		height: auto !important;
		background: white;
		box-shadow: 1px 1px 3px #eee inset;
	}
	label {
		font-weight:bold;
	}
}

.iphorm-form-3 input, .iphorm-form-3 textarea {
	width: 271px !important;
	padding-left: 15px !important;
	height: 30px !important;
}
.iphorm-submit-wrap {
	margin-left: 0 !important
}
/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */


.search-form {

	.textwidget {
		
	}
}

/* Google Search */
.widget .cse table.gsc-search-box td.gsc-input, 
.widget table.gsc-search-box td.gsc-input {
    padding-right: 0px;

}
.cse form.gsc-search-box, form.gsc-search-box {
	padding: 0 !important;
	width: 108% !important;
}
.widget input.gsc-search-button {
	margin-left: 5px;
	height: 27px;
	border: 1px solid #2C6BA5;
	text-transform: uppercase;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	text-transform: uppercase;
}
.widget input.gsc-input {
    border-color: #BBBBBB;
    border-radius: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: em(27);
    margin-left: 1px;
}
div.gsc-clear-button {display: none !important;}
/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
	text-decoration: none;
	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: "Helvetica Neue", Helvetica,Arial,sans-serif;
	text-rendering: optimizelegibility;
	//font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.074em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.728em;
	line-height: 1.4em;
	margin-bottom: 0.2em;
}

h3, .h3 {
	font-size: 1.44em;
}

h4, .h4 {
	font-size: 1.2em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 1em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
	background: $light-blue url(../images/blue-noise.png);
}

	#logo {
		margin: 0;
		h1 {
		}
		a {
			display: block;
		    text-indent: -99999px;
		    background: url(../images/logo.png) top left no-repeat;
		    margin: 0 em(15) 0 0;
		    background-position-x: -1.18em;
			background-size: 230px;
			margin-left: 83px;
			background-position-y: 12px;
		}
		h1 {
			font-size: 1em;

		}
	}
/*********************
SLIDE
*********************/
.supercarousel_wrapper {
	position: fixed !important;
	bottom: -7px;
}
/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	border-bottom: 0;
	margin: 0;
	li {
		&.home {
			font-size: 1.4em;
			a {
				padding: 0.3em;
			}
		}
		&.right {
			@extend .right;
		}
		a {
			display: block;
			padding: 0.75em;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */

.main-menu {
	.nav {
		border-bottom: 5px solid #4EBEEB;
		width: 70.3%;
	}
	display: none;
	font-size: 0.8em;
	text-transform: uppercase;
	li {
		//border-right: 1px solid #4EBEEB;
		a  {
			@extend %color-light-black;
			display: block;
			&:hover {
				background: url(../images/blue-noise.png);
				text-decoration: none !important;
				color: $white !important;
			}
		}
		&.youtube a{
			color: #cc181e !important;
		}
		&.fb a{
			color: #3b5998 !important;
		}

		&.quantrong {
			background: #FEC037;
			font-weight: bold;
			a {
				color: white !important;
			}
		}
	}
}
.sidr-class-quantrong {
	background: #FEC037;
	font-weight: bold;
	a {
		color: white !important;
	}
}
#menu-toggle-btn {
	display: block;
	//background: lighten($black, 15%);
	color: white;
	padding: 0.5em 1.5em 0.2em 1.5em;
	position: absolute;
	top: 0.3em;
	//text-align: right;
	i {
		font-size: 1.8em
	}
}
.admin-bar #menu-toggle-btn {
	top: 3em;
}
.sidr {
	@extend %text_uppercase;
}

/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	margin-top: 1.5em;
}

		.hentry {
			background-color: $white;
			border-radius: 2px;
			margin-bottom: 1.5em;
			padding: 0 15px;
			@extend %border-gray;

			header {
				border-bottom: 1px solid $gray;
				padding: .8em 0;
			}

			footer {
				padding: 1.5em;
				border-top: 1px solid $light-gray;

				p {
					margin: 0;
				}
			}

		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {
			font-family: "Helvetica Neue", Helvetica,Arial,sans-serif;
			margin: 0;
			font-weight: bold;
			font-size: 1.9em;
			a {
				@extend %color-light-black;
			}
		}

		.entry-thumbnail {
			img {
				max-width: 100%;
				height: auto;
			}
		}
		.single-title {}

		.page-title {}

		.entry-title {}

		.archive-title {}

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: $meta-gray;
			font-style: italic;
			margin: 0;
			font-size: 0.88em;
			time {}
		}
		/* entry content */
		.entry-content {
			padding: 1.5em 0 0;

			h1,h2,h3 {
				font-weight:bold;

			}
			p {
				margin: 0 0 1.5em;
			}


			ul, ol, table, dl {
				margin-left: 1.7em;
			}

			ul, ol {

				li {}

			}

			ul {
				list-style-type: disc;
				li {}

			}

			ol {

				li {}

			}

			table {
				width: 100%;
				@extend %border-gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1pxf solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $blue;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				max-width: 100%;
				height: auto;
				margin: 1em 0;
			}

			.size-full {
				margin-bottom: 1em;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: left;
				font-style: italic;
				color: #989898;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}
		.gallery { margin: 0 auto 18px; }
		.gallery .gallery-item {
			float: left;
			margin-top: 0;
			text-align: center;
			width: 33%;
		}
		.gallery-columns-2 .gallery-item { width: 50%; }
		.gallery-columns-4 .gallery-item { width: 25%; }
		.gallery img {
			box-shadow: 0px 0px 4px #999;
			border: 1px solid white;
			padding: 8px;
			background: #f2f2f2;
		}
		.gallery img:hover {
			background: white;
		}
		.gallery-columns-2 .attachment-medium {
			max-width: 92%;
			height: auto;
		}
		.gallery-columns-4 .attachment-thumbnail {
			max-width: 84%;
			height: auto;
		}
		.gallery .gallery-caption {
			color: #888;
			font-size: 12px;
			margin: 0 0 12px;
		}
		.gallery dl, .gallery dt { margin: 0; }
		.gallery br+br { display: none; }
		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}

	// Small Thumbnail post
.small-thumb {
	padding: 0;
	.article-header {
		padding: 0.5em 1.5em;
		border-bottom: none;
	}
	.entry-title {
		font-size: 1.34em;
	}
	.entry-content {
		padding: 0 1.5em;
	}
	.entry-footer {
		padding: 0.5em 1.5em;
	}
}

// Guest post
.guest-post {
	display: inline-block;
	font-style: italic;
	border-bottom: 1px solid #ddd;
	margin-top: 10px;
	padding-top: 10px;
	color: #B60000;
	background: url(http://giupbanlamdep.com/wp-content/themes/giupbanlamdep/images/warning.png) no-repeat 0px 10px;
	padding-left: 25px;
	padding-bottom: 16px;
	font-size: 90%;
}
// YARP
.related-posts {
	@extend %overflow;
	.post {
		@extend %overflow;
		border-bottom: 1px solid $gray;
		margin: 1em 0;
		.right {

		}

		.entry-title {
			font-size: 1.2em;
		}
		.entry-content {
			display: none;
		}
	}
}

.yarpp-related {
	a {
		font-weight:normal !important;
	}
	h4 {
		@extend %text_uppercase;
		margin: 0;
	}
}
#yarpp_widget-2 .yarpp-related-widget ol li {
	display: inline-block;
	border-bottom: 1px solid $gray;
	margin-bottom: 10px;

}
#yarpp_widget-2 .yarpp-related-widget ol li a img {
	width: 38%;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	height: auto;
}
// Post ads
.ads {
	&-top {}
	&-bottom {
		margin-top: -1em;
	}
}
// Related post by taxonomy
.rpbt_shortcode {
	margin-bottom: 1.5em;

	margin-top: -2em;
	h4 {
		text-transform: uppercase;
		font-weight: normal;
	}
	ul {
		list-style-type: decimal;
		margin: .6em 0 0 2.5em;
		li {
			margin-bottom: 0.3em;
		}
	}
}

// Share button
.share-btn iframe {
	height: 60px !important;
}

// Entry Additional
.entry-additional {
	h4 {
		@extend %text_uppercase;
	}
	.toppost {
		ul {
			li {
				margin-bottom: 0.3em;
			}
		}
	}
}
/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      @extend %color-light-black;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
		  border-radius: 3px;
		  color: white;
      }
    }

    .current{
    	cursor: default;
    	@extend %color-light-black;
    	background: $light-gray;
    	margin-right: em(10);
    	border-radius: 3px;
    	@extend %border-gray;
    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
Archive Style
******************************************************************/
.archive-info {
	background: url(../images/block-quote.png) no-repeat 15px 10px;
	//padding-left: 120px;
	padding: em(15) em(15) em(15) em(120);
	border: 1px solid #B6D8FF;
	border-radius: 10px;
	margin: 20px 0;
	font-size: .9em;
	h2 {
		font-size: 1.3em;
		margin: -.1em 0 -0.625em 0;
		color: $light-blue;
	}
}
/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}




	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .blue-btn;
		font-size: 0.9em;
		float: right;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		margin: 0 7px;
		text-decoration: none;
		font-size: 0.9em;
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	display: none;
	font-size: 90%;
	.border {
		dl, menu, ol, ul {
			margin: 0;
		}
		&.widget {
			display: block;
			@extend %border-gray;
			padding: 5px;
			background: #fff;
			border-radius: 5px;
		}
		.widget-title {

			@extend .widgettitle;
		}
	}
}

	.widgettitle {
		border-bottom: 1px solid $gray;
		margin-left: -5px;
		text-align: center;
		padding: 0.6em;
		margin: 0;
		text-transform: uppercase;
	}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		@extend %border-gray;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}

	.info {// Hiển thị thông tin giới thiệu
		@extend %text-center;
		.img-circle {
		    -webkit-box-shadow: inset 0 0 5px rgba(77, 77, 77, 0.3), 0 1px 0 #ffffff;
		    -moz-box-shadow: inset 0 0 5px rgba(77, 77, 77, 0.3), 0 1px 0 #ffffff;
		    box-shadow: inset 0 0 5px rgba(77, 77, 77, 0.3), 0 1px 0 #ffffff;
		    padding: 7px;
		    -webkit-border-radius: 500px;
		    -moz-border-radius: 500px;
		    -ms-border-radius: 500px;
		    -o-border-radius: 500px;
		    border-radius: 500px;
		    margin: 10px;
		    background: rgba(77, 77, 77, 0.04);
		    border: 0;
		    overflow: hidden;
		    width: 190px;
		    height: 190px;

		}
		h2 {
			
		}
	}

	.dpe-baixemnhieu {
		.hentry {
			padding: 0;
			.title {
				padding: .35em;
			}
		}

	}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background: url(../images/blue-noise.png);
	color: $light-gray;
	text-align: center;
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}
